// main: ../style.less

.calendar {
	position: relative;
	height: 100%;
	// width: 100%;
	max-width:fit-content;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	display: inline-grid;
	grid-template-columns: repeat(1, 1fr);
}
.cal_container {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

}
.arrow {
	cursor: pointer;
	color: @color__font;
	text-decoration: none;
	outline: none;
}
.arrow:hover {
	transition: 0.25s;
}
.calendar__content {
	display: inline-grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 3px;

}

.calendar_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 1rem 0 1em;
	margin-bottom: 6px;
}


.weekday,
.calendar__cell,
.calendar__cell__second {
	font-size: 1.1rem;
	width: @datesize;
	height: @datesize;
	// background-color: @color__weekdays;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1.5rem;
}

.weekday {
	font-size: 0.9rem;
}
.current_day {
	border: solid 3px @color_font_second;
}
.current_day:hover,
.calendar__cell:hover,
.calendar__cell__second:hover {
	background-color: @color_font_main;
	transition: 0.25s;
}


.calendar__cell {
	color: @color__font;
}

.weekday {
	color: @color__weekdays;
}

.calendar__cell__second {
	color: @color__font__second;
}
// .calendar__weekday {
// 	display: flex;
// 	box-sizing: border-box;
// 	justify-content: center;
// 	align-items: center;
// 	width: @datesize;
// 	height: @datesize;
// 	background-color: white;
// }