// compress: true
@import 'vars';
html {
	// background-color: no-repeat linear-gradient(180deg, rgba(242, 231, 217, 1) 0%, rgba(162, 132, 123, 1) 100%);
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	font-family: 'Roboto Slab', serif;
	color: @color__font;
	
}

body {
	// position: fixed;
	// overflow-y: scroll;
	// background: no-repeat top;
	// background-size:cover;
	margin: 0 auto;
	font-size: 1rem;
	font-family: @font-main;
	color: @color__font;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
.content {
	margin: 5.2rem 0px;
}

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
a {
	outline: none;
	text-decoration: none;
	cursor: pointer;
}
p {
	color: #919191c5;
}

.buttons {
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	fill: none;
	border: none;
	align-items: center;
}
.hello {
	font-size: 1.5rem;
	text-align: center;
}

@font-face {
	font-family: "Chekharda";
	src: url(../fonts/main_font.ttf)
}


/* CONTAINER
---------------------- */
.container {
	width: 100%;
	max-width: 1200px;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
	bottom: 0;
}


/* HEADER
---------------------- */
@import "blocks/header";

/* SIDEBAR
---------------------- */
@import "blocks/sidebar";


/* MEDIA
---------------------- */

@import "blocks/media";

@import "blocks/calendar";

@import "blocks/events";