// compress: true
@import 'vars';
html {
	// background-color: no-repeat linear-gradient(180deg, rgba(242, 231, 217, 1) 0%, rgba(162, 132, 123, 1) 100%);
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	font-family: 'Roboto Slab', serif;
	color: @color__font;
	
}

body {
	// position: fixed;
	// overflow-y: scroll;
	// background: no-repeat top;
	// background-size:cover;
	margin: 0 auto;
	font-size: 1rem;
	font-family: @font-main;
	color: @color__font;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
.content {
	margin: 5.2rem 0px;
}

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
a {
	outline: none;
	text-decoration: none;
	cursor: pointer;
}
// input {
// 	writing-mode: horizontal-tb !important;
// 	text-rendering: auto;
// 	color: fieldtext;
// 	letter-spacing: normal;
// 	word-spacing: normal;
// 	line-height: normal;
// 	text-transform: none;
// 	text-indent: 0px;
// 	text-shadow: none;
// 	display: inline-block;
// 	text-align: start;
// 	appearance: auto;
// 	-webkit-rtl-ordering: logical;
// 	cursor: text;
// 	background-color: field;
// 	margin: 0em;
// 	padding: 1px 2px;
// 	border-width: 2px;
// 	border-style: inset;
// 	border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
// 	border-image: initial;
// }

// .form_input {
// 	// width: 20.4rem;
// 	// opacity: 0.7;
// 	margin-bottom: 0.5rem;
// 	height: 2.5rem;
// 	border: none;
// 	border-radius: 1rem;
// 	font-size: 1.2rem;
// 	padding-left: 1.4rem;
// 	padding-right: 0.5rem;
// 	box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem white;
// 	// background: none;
// 	font-family: inherit;
// 	color: @color__font;
// }

.buttons {
	width: 2rem;
	height: 2rem;
}
.hello {
	font-size: 1.5rem;
}
@font-face {
	font-family: "Chekharda";
	src: url(../fonts/main_font.ttf)
}

/* CONTAINER
---------------------- */
@import "blocks/container";


/* HEADER
---------------------- */
@import "blocks/header";

/* SIDEBAR
---------------------- */
@import "blocks/sidebar";


/* MEDIA
---------------------- */

@import "blocks/media";

@import "blocks/calendar";

@import "blocks/events";