// main: style.less
// @color_background: #C7BFA6;

@color_background-light: #F4F5F7;
@color_background-dark: #1A1A1A;
@color_main-dark: #252628;
@color_main-light: #FFF;


@color_light: #D9C39A;
@color_orbrown: #A64E1B;
@color_brown: #8C4216;
@color_dark_brown: #693312;
@color_dark: #261A0A;



@font_roboto: 'Roboto Slab', serif;
@font-poppins: 'Poppins', sans-serif;


@datesize: 2.5rem;

@color_background: #17151C;
@color_calendar: #000;
@color__font: #c5c5c5;
@color__font__second: #6E6E6E;
@color__weekdays: #919191;
