
<div class="calendar_header">
	<a class="arrow prev noselect"><</a>
	<div class="date">{{ current_month }} {{ current_year }}</div>
	<a class="arrow next noselect">></a>
	{% comment %} <input type="text" id="user-input" autofocus=""><br>
	<button type="button" id="sender">Send data</button><br>
	<p id="p-text">foo bar</p> {% endcomment %}
</div>
<div class="calendar__content noselect">
	<div class="weekday">ПН</div>
	<div class="weekday">ВТ</div>
	<div class="weekday">СР</div>
	<div class="weekday">ЧТ</div>
	<div class="weekday">ПТ</div>
	<div class="weekday">СБ</div>
	<div class="weekday">ВС</div>
	{% for prev_month_date in prev_dates %}
		{% if prev_month_date in prev_special_dates %}
			<a class="calendar__cell__second prev">{{prev_month_date}}<span class="cal"></span></a>
		{% else %}
			<a class="calendar__cell__second prev">{{prev_month_date}}</a>
		{% endif %}
	{% endfor %}
	{% for now_month_date in now_dates %}
		{% if now_month_date in special_dates %}
			{% if now_month_date == now_day and current_year == now_year and current_month == now_month %}
				<a class="calendar__cell current_day special_dates">{{now_month_date}}<span class="cal"></span></a>
			{% else %}
				<a class="calendar__cell special_dates">{{now_month_date}}<span class="cal"></span></a>
			{% endif %}
		{% else %}
			{% if now_month_date == now_day and current_year == now_year and current_month == now_month %}
				<a class="calendar__cell current_day">{{now_month_date}}</a>
			{% else %}
				<a class="calendar__cell">{{now_month_date}}</a>
			{% endif %}
		{% endif %}
	{% endfor %}
	{% for next_month_date in next_dates %}
		{% if next_month_date in next_special_dates %}
			<a class="calendar__cell__second arrow next">{{next_month_date}}<span class="cal"></span></a>
		{% else %}
			<a class="calendar__cell__second arrow next">{{next_month_date}}</a>
		{% endif %}
	{% endfor %}
</div>