{% load static %}
<div class="events_all_hat">
{% if current_date %}
  <img class="all_events buttons" src="{% static 'images/back.svg' %}"></a>
  <div class="events_container ml1">СОБЫТИЯ НА {{current_date | date:"d-m-Y"}}</div>
{% else %}
  <div class="events_container">ВСЕ СОБЫТИЯ</div>
{% endif %}
</div>
<form id="add_form">
  <div class="input_hat">
  <input class='form_input' type="text" name="tittle" placeholder="Название задачи" />
  <input class='form_input' type="text" name="notes" placeholder="Описание" />
  </div>
  {% if not current_date %}
  <input class='form_input' type="date" name="date" />
  {% else %}
  <input type="hidden" name="date" value="{{current_date | date:"Y.m.d"}}"/>
  {% endif %}
  <input class='form_input' type="time" name="time" />
  <input type="hidden" name="nav" value="add"/>
  {% comment %} <img type='submit' class="buttons" src="{% static 'images/add.svg' %}" alt="Добавить"></img> {% endcomment %}
  <input type="image" id="add_form" class="buttons" src="{% static 'images/add1.svg' %}"/>
</form>
{% comment %} {% if today_events_list %}
    {% for event in today_events_list %}
        <li><div>{{ event.pub_date }}</div></li>
    {% endfor %}
{% else %}
    <p>No events are available.</p>
{% endif %} {% endcomment %}
{% if today_events_list %}
  <div>
    {% for event in today_events_list %}
    <div id="{{event.id}}" class="event_public">
        <img class="buttons delete_event" value="{{event.id}}" src="{% static 'images/del.svg' %}" alt="Удалить"></img>
        <div class="event_hat">
        <div class="event_tittle">{{ event.tittle }}</div> 
        <div class="event_notes">{{ event.notes }}</div>
        </div>
        <div class="push"></div>
        <div class="event_date">
        {% if not current_date %}
          <div>{{ event.date | date:"d.m.Y" }}</div>
        {% endif %}
        {% if event.time %}
          <div >{{ event.time | time:"H:i"}}</div></li>
        {% else %}
          </li>
        {% endif %}
        </div>
        {% comment %} <a href="{% url 'cal:edit_event' event.id%}">Редактировать</a> {% endcomment %}
    </div>
    {% endfor %}
  </div>
{% else %}
    <p>Добавьте события!</p>
{% endif %}