{% load static %}
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>

<script>
  anychart.onDocumentReady(function () {
    // create a column chart
    var chart = anychart.column();

    // create a data series
    var series = chart.column([
      ["Virat Kohli", "296", "India"],
      ["Max O'Dowd", "242", "Netherlands"],
      ["Suryakumar Yadav", "239", "India"],
      ["JD Butler", "225", "England"],
      ["Kusal Mendis", "223", "Sri Lanka"],
      ["Sikandar Raza", "219", "Zimbabwe"],
      ["Pathum Nissanka", "214", "Sri Lanka"],
      ["AD Hales", "212", "England"],
      ["Lorkan Tucker", "204", "Ireland"],
      ["Glenn Phillips", "201", "New Zealand"],
    ]);

    // add axis titles
    chart.xAxis().title("Дни");
    chart.yAxis().title("Number of runs");

    // add a chart title
    //chart.title("Top 10 Run Scorers at ICC Men's T20 World Cup 2022");

    // set the container element
    chart.container("container");

    // display the chart
    chart.draw();
  });
</script>

<div
  id="container"
  style="width: 332.917px; height: 332.917px; margin: 0; padding: 0"
></div>
