{% extends 'base.html' %} 
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/myajax.js' %}"></script>
<script>
var current_month = "{{current_month}}";
var current_year = {{current_year}};

$(document).ready(function () {
	var prev = function (e) {
		e.preventDefault();
		var btn = $(this);
		$.ajax({
			url: "{% url 'cal:index'%}",
			dataType: 'json',
			data: {
				"current_month": current_month,
				"current_year": current_year,
				"nav": "prev",
				"csrfmiddlewaretoken": '{{ csrf_token }}',
			},
			type: 'POST',

			success: function(data) {
				$('#calendar').html(data.html);
				current_month = data.current_month;
				current_year = data.current_year;
				$("#prev").on('click', prev);
				$("#next").on('click', next);
			},
			error: function(er) {
				console.log(er);
				alert("ошибка");
			},
		});
	}
	var next = function (e) {
		// Stop form from sending request to server
		e.preventDefault();
		var btn = $(this);
		$.ajax({
			url: "{% url 'cal:index'%}",
			dataType: 'json',
			data: {
				"current_month": current_month,
				"current_year": current_year,
				"nav": "next",
				"csrfmiddlewaretoken": '{{ csrf_token }}',
			},
			type: 'POST',

			success: function(data) {
				$('#calendar').html(data.html);
				current_month = data.current_month;
				current_year = data.current_year;
				$("#prev").on('click', prev);
				$("#next").on('click', next);
			},
			error: function(er) {
				console.log(er);
				alert("ошибка");
			},
		});
	}
	$("#prev").on('click', prev);
	$("#next").on('click', next);
});
</script>
<div class="calendar" id="calendar">
	{% include 'cal/calendar.html' %}
</div>
{% if latest_event_list %}
<ul>
  {% for event in latest_event_list %}
  <li>
    <a href="{% url 'cal:detail' event.id %}"
      >{{ event.pub_date }}, {{ event.notes }}</a
    >
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No events are available.</p>
{% endif %}
<form action="" method="post">
  {% csrf_token %}
  <input type="text" name="amount" />
  <button type="submit">Рассчитать</button>
</form>

{% comment %} <script>
$(document).ready(function () {
  $("#prev").click(function (e) {
    // Stop form from sending request to server
    e.preventDefault();
    var btn = $(this);
    $.ajax({
      url: "{% url 'cal:hello'%}",
      type: 'get',
      success: function(data) {
        alert(data.res);
      },
      error: function(er) {
        alert("ошибка");
      },
    });
  });
});
</script> {% endcomment %}
{% comment %} $("#prev").click(function () {
    $.ajax({
		url: "{% url 'cal:hello'%}",
		type: 'get', // This is the default though, you don't actually need to always mention it
		success: function(data) {
			alert(data.res);
		},
		failure: function(data) { 
			alert('Got an error dude');
		}
	}); 
}) {% endcomment %}
{% comment %} </script>
$("#prev").click(function () {
	// отслеживаем событие отправки формы
	$("#id_username").keyup(function () {
		// создаем AJAX-вызов
		$.ajax({
			data: $(this).serialize(), // получаяем данные формы
			url: "{% url 'cal:validate_username' %}",
			// если успешно, то
			success: function (response) {
				if (response.is_taken == true) {
				$("#id_username")
					.removeClass("is-valid")
					.addClass("is-invalid");
				$("#id_username").after(
					'<div class="invalid-feedback d-block" id="usernameError">Это имя пользователя недоступно!</div>'
				);
				} else {
				$("#id_username")
					.removeClass("is-invalid")
					.addClass("is-valid");
				$("#usernameError").remove();
				}
			},
			// если ошибка, то
			error: function (response) {
				// предупредим об ошибке
				console.log(response.responseJSON.errors);
				},
		});
		return false;
	});
	});
</script> {% endcomment %}
{% endblock %}
