{% extends 'base.html' %} 
{% load static %}
{% block content %}
<script src="{% static 'js/myajax.js' %}"></script>
<script>
var current_month = "{{current_month}}";
var current_year = {{current_year}};
var user_id = {{ request.user.id }};
//var special_dates = {{special_dates}}
//var current_day = {{current_day}}
// AJAX CALENDAR
$(document).ready(function () {
	//CSRF token for for each ajax request
	$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
		} 
	});

	var prev = function (e) {
		e.preventDefault();
		var btn = $(this);
		$.ajax({
			url: "{% url 'cal:index'%}",
			dataType: 'json',
			data: {
				"current_month": current_month,
				"current_year": current_year,
				//"current_day": current_day,
				"nav": "prev",
			},
			type: 'POST',

			success: function(data) {
				$('#calendar').html(data.html);
				current_month = data.current_month;
				current_year = data.current_year;
				$(".prev").on('click', prev);
				$(".next").on('click', next);
				$(".calendar__cell").on('click', today_event);
			},
			error: function(er) {
				console.log(er);
			},
		});
	}
	var next = function (e) {
		e.preventDefault();
		$.ajax({
			url: "{% url 'cal:index'%}",
			dataType: 'json',
			data: {
				"current_month": current_month,
				"current_year": current_year,
				//"current_day": current_day,
				"nav": "next",
			},
			type: 'POST',

			success: function(data) {
				$('#calendar').html(data.html);
				current_month = data.current_month;
				current_year = data.current_year;
				$(".prev").on('click', prev);
				
				$(".next").on('click', next);
				$(".calendar__cell").on('click', today_event);
			},
			error: function(er) {
				console.log(er);
			},
		});
	}
	var today_event = function (e) {
		e.preventDefault();
		var btn = $(this)
		$.ajax({
			url: "{% url 'cal:today_event'%}",
			dataType: 'json',
			data: {
				"current_month": current_month,
				"current_year": current_year,
				"current_day": btn.text(),
			},
			type: 'POST',
			success: function(data) {
				$(".calendar__cell").removeClass("current_click_day");
				btn.addClass('current_click_day');
				$('#events').html(data.html);
				$("#add_form").on('submit', add);
				$(".delete_event").on('click', del);
				$(".all_events").on('click', all_events);
				
			},
			error: function(er) {
				console.log(er);
			},
		});
	}
	var all_events = function (e) {
		e.preventDefault();
		$.ajax({
			url: "{% url 'cal:all_events'%}",
			type: 'POST',
			data:{'success':200},
			success: function(data) {
				$(".calendar__cell").removeClass("current_click_day");
				$('#events').html(data.html);
				$("#add_form").on('submit', add);
				$(".delete_event").on('click', del);
			},
			error: function(er) {
				console.log(er);
			},
		});
	}

	var add = function (e) {
		e.preventDefault();
		var btn = $(this);
		$.ajax({
			url: "{% url 'cal:add_event'%}",
			dataType: 'json',
			data: $('#add_form').serialize(),
			type: 'POST',
			success: function(data) {
				$('#events').html(data.html);
				$.ajax({
					url: "{% url 'cal:index'%}",
					dataType: 'json',
					data:{
						"current_month": current_month,
						"current_year": current_year,
						"nav": "index",
					},
					type: 'POST',
					success: function(data) {
						$('#calendar').html(data.html);
						current_month = data.current_month;
						current_year = data.current_year;
						$(".prev").on('click', prev);
						$(".next").on('click', next);
						$(".calendar__cell").on('click', today_event);
					},
					error: function(er) {
						console.log(er);
					},
				});
				$(".all_events").on('click', all_events)
				document.querySelector('#add_form').reset()
				$("#add_form").on('submit', add);
				$(".delete_event").on('click', del);
			},
			error: function(er) {
				console.log(er);
			},
		});
	}
	var index = function (e) {
		e.preventDefault();
		$.ajax({
			url: "{% url 'cal:index'%}",
			dataType: 'json',
			data:{
				"current_month": current_month,
				"current_year": current_year,
				"nav": "index",
			},
			type: 'POST',
			success: function(data) {
				$('#calendar').html(data.html);
				current_month = data.current_month;
				current_year = data.current_year;
				$(".prev").on('click', prev);
				$(".next").on('click', next);
				$(".calendar__cell").on('click', today_event);
			},
			error: function(er) {
				console.log(er);
			},
		});
	}
	var del = function (e) {
		e.preventDefault();
		$.ajax({
			url: "{% url 'cal:delete_event'%}",
			dataType: 'json',
			data: {
				'id':$(this).attr('value'),
		},
			type: 'POST',
			success: function(data) {
				$('#events').html(data.html);
				$("#add_form").on('submit', add);
				$(".delete_event").on('click', del);
			},
			error: function(er) {
				console.log(er);
			},
		}).then(index);
	}

	var journal = function (e) {
		e.preventDefault();
		$.ajax({
			url: "{% url 'cal:journal'%}",
			dataType: 'json',
			data: {
				'user':'{{request.user}}',
			},
			//async: false,
			type: 'POST',
			success: function(data) {
				$('#calendar').html(data.html);
				//$('#events').html(data.html);
				//$("#add_form").on('submit', add);
				//$(".delete_event").on('click', del);
			},
			error: function(er) {
				console.log(er);
			},
		});
	}
	$(".prev").on('click', prev);
	$(".next").on('click', next);
	$(".calendar__cell").on('click', today_event)
	$(".all_events").on('click', all_events)
	$("#add_form").on('submit', add);
	$(".delete_event").on('click', del);
	$("#journal").on('click', journal);
	//$('.header__inner__icon').on('click', poo)
	
	//$(".next").on('click', next);


	//const toggle = document.querySelector("#sidebar__toggle");
	//if (toggle.checked == true) {
	//	if (e.target.className != "sidebar__box") {
	//		popup.checked = false;
	//	};
	//};
	//document.onclick = function (e) {
	//	if (e.target.className != "sidebar__box") {
	//		popup.checked = 'false';
	//	};
	//};
});
</script>
<div class="hello">Привет, {{ request.user }}!</div></br>
<div class="cal_container">
	<div class="calendar" id="calendar">
		{% include 'cal/calendar.html' %}
	</div>
	<div class="events" id="events">
		{% include 'cal/events.html' %}
	</div>
</div>


{% endblock %}