{% extends 'base.html' %} 
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/myajax.js' %}"></script>
<script>
$(document).ready(function () {
	$("#prev").click(function (e) {
		e.preventDefault();
		var btn = $(this);
		$.ajax({
			url: "{% url 'cal:index'%}",
			dataType: 'json',
			data: {
				"current_month": '{{current_month}}',
				"current_year": {{current_year}},
				"nav": "prev",
				"csrfmiddlewaretoken": '{{ csrf_token }}',
			},
			type: 'POST',

			success: function(data) {
				current_month = data.current_month
				current_year = data.current_year
				prev_dates = data.prev_dates
				now_dates = data.now_dates
				next_dates = data.next_dates
			},
			error: function(er) {
				alert("ошибка");
			},
		});
	});
	$("#next").click(function (e) {
		// Stop form from sending request to server
		e.preventDefault();
		var btn = $(this);
		$.ajax({
			url: "{% url 'cal:index'%}",
			dataType: 'json',
			data: {
				"current_month": '{{current_month}}',
				"current_year": {{current_year}},
				"nav": "next",
				"csrfmiddlewaretoken": '{{ csrf_token }}',
			},
			type: 'POST',

			success: function(data) {
				
			},
			error: function(er) {
				alert("ошибка");
			},
		});
	});
});
</script>
<div class="calendar">
	<div class="calendar_header">
		<a class="arrow prev" id = 'prev'><</a>
		<div class="date">{{ current_month }} {{ current_year }}</div>
		<a class="arrow next" id = 'next'>></a>
		{% comment %} <input type="text" id="user-input" autofocus=""><br>
		<button type="button" id="sender">Send data</button><br>
		<p id="p-text">foo bar</p> {% endcomment %}
	</div>
	<div class="calendar__content">
		<div class="weekday">ПН</div>
		<div class="weekday">ВТ</div>
		<div class="weekday">СР</div>
		<div class="weekday">ЧТ</div>
		<div class="weekday">ПТ</div>
		<div class="weekday">СБ</div>
		<div class="weekday">ВС</div>
		{% for prev_month_date in prev_dates %}
			<a class="calendar__cell__second" href="#"> {{prev_month_date}} </a>
		{% endfor %}
		{% for now_month_date in now_dates %}
			<a class="calendar__cell" href="#"> {{now_month_date}} </a>
		{% endfor %}
		{% for next_month_date in next_dates %}
			<a class="calendar__cell__second" href="#"> {{next_month_date}} </a>
		{% endfor %}
	</div>
</div>
{% if latest_event_list %}
<ul>
  {% for event in latest_event_list %}
  <li>
    <a href="{% url 'cal:detail' event.id %}"
      >{{ event.pub_date }}, {{ event.notes }}</a
    >
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No events are available.</p>
{% endif %}
<form action="" method="post">
  {% csrf_token %}
  <input type="text" name="amount" />
  <button type="submit">Рассчитать</button>
</form>

{% comment %} <script>
$(document).ready(function () {
  $("#prev").click(function (e) {
    // Stop form from sending request to server
    e.preventDefault();
    var btn = $(this);
    $.ajax({
      url: "{% url 'cal:hello'%}",
      type: 'get',
      success: function(data) {
        alert(data.res);
      },
      error: function(er) {
        alert("ошибка");
      },
    });
  });
});
</script> {% endcomment %}
{% comment %} $("#prev").click(function () {
    $.ajax({
		url: "{% url 'cal:hello'%}",
		type: 'get', // This is the default though, you don't actually need to always mention it
		success: function(data) {
			alert(data.res);
		},
		failure: function(data) { 
			alert('Got an error dude');
		}
	}); 
}) {% endcomment %}
{% comment %} </script>
$("#prev").click(function () {
	// отслеживаем событие отправки формы
	$("#id_username").keyup(function () {
		// создаем AJAX-вызов
		$.ajax({
			data: $(this).serialize(), // получаяем данные формы
			url: "{% url 'cal:validate_username' %}",
			// если успешно, то
			success: function (response) {
				if (response.is_taken == true) {
				$("#id_username")
					.removeClass("is-valid")
					.addClass("is-invalid");
				$("#id_username").after(
					'<div class="invalid-feedback d-block" id="usernameError">Это имя пользователя недоступно!</div>'
				);
				} else {
				$("#id_username")
					.removeClass("is-invalid")
					.addClass("is-valid");
				$("#usernameError").remove();
				}
			},
			// если ошибка, то
			error: function (response) {
				// предупредим об ошибке
				console.log(response.responseJSON.errors);
				},
		});
		return false;
	});
	});
</script> {% endcomment %}
{% endblock %}
