{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="csrf-token" content="{{ csrf_token }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="icon" type="image/png" href="{% static 'images/1.svg' %}" filter: brightness(50%); sizes="64x64" />
	<title>Kallendar</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Slab&display=swap" rel="stylesheet">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
	<script>
	$(document).ready(function () {
		document.addEventListener('click', function() {
			var target = event.target
			if ((target.className != 'sidebar__btn') && (target.className != 'sidebar__span')) {
				if ($("#sidebar__toggle").is(':checked')) {
					if (target.className != 'sidebar__box') {
						$('#sidebar__toggle').prop('checked', false);
					}
				}
			}
		});
		document.querySelector('input').addEventListener('click', function(e) {
  			e.stopPropagation();
		});
	});
	{% comment %} $('.sidebar__btn').on('click', function() {
			return
	}); {% endcomment %}
	{% comment %} $(document).ready(function () {
		console.log($("#sidebar__toggle").checked)

		{% comment %} $('#sidebar__box').click(function(event){
			event.stopPropagation(); // prevents executing the above event
		});
		if $("#sidebar__toggle").checked {
			document.body.addEventListener('click', () => {
				var target = event.target;
				console.log(target, target.className)
				//if target.className
			});
		} {% endcomment %}
	{% comment %} }) {% endcomment %}
	</script>
	<header class="header">
		<div class="container">
			<div class="header__inner">
				<div class="header__inner__left">
					<div class="hamburger-sidebar">
						<input id="sidebar__toggle" type="checkbox" />
						<label class="sidebar__btn" for="sidebar__toggle"><span class='sidebar__span'></span></label>
						<ul class="sidebar__box">
							<li><a class="sidebar__item" href="/">Главная</a></li>
							<li><a class="sidebar__item" href="#">Профиль</a></li>
							<li><a class="sidebar__item" id="journal">Журнал</a></li>
							{% if user.is_staff %}
								<li><a class="sidebar__item" href="{% url "admin:index" %}">Админка</a></li>
							{% endif %}
							<li><a class="sidebar__item" href="{% url "cal:logout" %}">
									<img class="buttons noselect" style="margin-right: 7px" src="{% static 'images/logout.svg' %}" alt=""></img>
									Выйти
								</a></li>
							<a href="https://t.me/ka11endar" target="_blank" class="telegram">
								<svg width="40px" height="40px" viewBox="0 0 32 32" fill="#a2847b" xmlns="http://www.w3.org/2000/svg">
								<circle cx="16" cy="16" r="14" fill="url(#paint0_linear_87_7225)"/>
								<path d="M22.9866 10.2088C23.1112 9.40332 22.3454 8.76755 21.6292 9.082L7.36482 15.3448C6.85123 15.5703 6.8888 16.3483 7.42147 16.5179L10.3631 17.4547C10.9246 17.6335 11.5325 17.541 12.0228 17.2023L18.655 12.6203C18.855 12.4821 19.073 12.7665 18.9021 12.9426L14.1281 17.8646C13.665 18.3421 13.7569 19.1512 14.314 19.5005L19.659 22.8523C20.2585 23.2282 21.0297 22.8506 21.1418 22.1261L22.9866 10.2088Z" fill="#f2e7d9"/>
								<defs>
								<linearGradient id="paint0_linear_87_7225" x1="16" y1="2" x2="16" y2="30" gradientUnits="userSpaceOnUse">
								<stop stop-color="#a2847b"/>
								<stop offset="1" stop-color="#a2847b"/>
								</linearGradient>
								</defs>
								</svg>
							</a>
						</ul>
					</div>
					<a href="{% url 'cal:index' %}" class="header__inner__name noselect">kallendar</a>
				</div>
				<div class="header__inner__right">
					
					<img class="header__inner__btn__special buttons noselect" src="{% static 'images/add_special.svg' %}" alt="Пук"></img>
					<img class="header__inner__icon noselect" src="{% static 'images/1.svg' %}" alt=""></img>
					{% comment %} <div class="settings">+</div>
					<button onclick="location.href='{% url 'cal:logout' %}?next=/accounts/login/?next=/'"> Logout </button> {% endcomment %}
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	<div class="footer"></div>
	<a href="https://t.me/ka11endar" target="_blank" class="telegram_right">
		<svg width="40px" height="40px" viewBox="0 0 32 32" fill="#a2847b" xmlns="http://www.w3.org/2000/svg">
		<circle cx="16" cy="16" r="14" fill="url(#paint0_linear_87_7225)"/>
		<path d="M22.9866 10.2088C23.1112 9.40332 22.3454 8.76755 21.6292 9.082L7.36482 15.3448C6.85123 15.5703 6.8888 16.3483 7.42147 16.5179L10.3631 17.4547C10.9246 17.6335 11.5325 17.541 12.0228 17.2023L18.655 12.6203C18.855 12.4821 19.073 12.7665 18.9021 12.9426L14.1281 17.8646C13.665 18.3421 13.7569 19.1512 14.314 19.5005L19.659 22.8523C20.2585 23.2282 21.0297 22.8506 21.1418 22.1261L22.9866 10.2088Z" fill="#f2e7d9"/>
		<defs>
		<linearGradient id="paint0_linear_87_7225" x1="16" y1="2" x2="16" y2="30" gradientUnits="userSpaceOnUse">
		<stop stop-color="#a2847b"/>
		<stop offset="1" stop-color="#a2847b"/>
		</linearGradient>
		</defs>
		</svg>
	</a>
	<div>
		<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
		<path class="cls-2" fill='#a2847b'; d="M20.42,36.89c-2.09,.02-4.01,.2-7.05,0-.95-.06-2.53-.2-3.52-1.26-.4-.43-.57-.87-.69-1.18-.04-.11-.72-2.01,.34-3.69,0,0,.31-.48,1.59-1.73,0,0-.25-.72-.3-.86-.29-.87,.02-1.87,.09-2.08,.53-1.63,2.06-2.48,2.41-2.67,.3-.17,1.28-.67,1.28-.67-.45-1.42-.46-1.61-.46-1.61-.08-.95,.47-2.15,1.42-2.59,.75-.35,1.93-.31,1.93-.31,0,0,9.32-.16,9.32-.16,0,0,.5-.46,.77-.43,.46,.05,1.05,1.52,.6,2.86-.45,1.32-1.89,2.43-1.89,2.43,0,0,1.9,.55,2.79,1.73,.73,.96,.7,2.22,.69,2.9,0,.44-.09,1.54-.09,1.54,0,0,.94,.74,1.16,.93,1.34,1.18,1.52,4.31-.09,5.69-.27,.23-.53,.36-.64,.41-2.55,1.2-5.83,.69-9.67,.73Z"/>
		<text x="10" y="30" >10</text>
		</svg>
	</div>
</body>
</html>

<!-- <div class="container">
		<div class="calendar">
			<div class="calendar__date">2023 Февраль</div>
			<div class="calendar__weekday"></div>
			<div class="calendar__content">
			</div>
		</div>
	</div> -->
	<!-- <html ng-app="calendarApp" ng-cloak="true"></html>
	<% @days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %>
	<div class="calendar" ng-controller="calendarController as calendar">
	<div class="calendar_left">
		<div class="header">
		<i class="material-icons" ng-click="calendar.prev()">navigate_before</i>
		<h1>{{calendar.month}}</h1>
		<i class="material-icons" ng-click="calendar.next()">navigate_next</i>
		</div>
		<div class="days">
		<% @days.each do |days, index| %>
			<div class="day_item">#{days}</div>
		<% end %>
		</div>
		<div class="dates"></div>
	</div>
	</div> -->
