{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="csrf-token" content="{{ csrf_token }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="icon" type="image/png" href="{% static 'images/1.svg' %}" filter: brightness(50%); sizes="64x64" />
	<title>Kallendar</title>
	{% comment %} <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> {% endcomment %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
	<script>
	$(document).ready(function () {
		document.addEventListener('click', function() {
			var target = event.target
			if ((target.className != 'sidebar__btn') && (target.className != 'sidebar__span')) {
				if ($("#sidebar__toggle").is(':checked')) {
					if (target.className != 'sidebar__box') {
						$('#sidebar__toggle').prop('checked', false);
					}
				}
			}
		});
		document.querySelector('input').addEventListener('click', function(e) {
  			e.stopPropagation();
		});
	});
	{% comment %} $('.sidebar__btn').on('click', function() {
			return
	}); {% endcomment %}
	{% comment %} $(document).ready(function () {
		console.log($("#sidebar__toggle").checked)

		{% comment %} $('#sidebar__box').click(function(event){
			event.stopPropagation(); // prevents executing the above event
		});
		if $("#sidebar__toggle").checked {
			document.body.addEventListener('click', () => {
				var target = event.target;
				console.log(target, target.className)
				//if target.className
			});
		} {% endcomment %}
	{% comment %} }) {% endcomment %}
	</script>
	<header class="header">
		<div class="container">
			<div class="header__inner">
				<div class="header__inner__left">
					<div class="hamburger-sidebar">
						<input id="sidebar__toggle" type="checkbox" />
						<label class="sidebar__btn" for="sidebar__toggle"><span class='sidebar__span'></span></label>
						<ul class="sidebar__box">
							<li><a class="sidebar__item" href="/">Главная</a></li>
							<li><a class="sidebar__item" id="special">Special</a></li>
							<li><a class="sidebar__item" href="#">Профиль</a></li>
							<li><a class="sidebar__item" id="journal">Журнал</a></li>
							{% if user.is_staff %}
								<li><a class="sidebar__item" href="{% url "admin:index" %}">Админка</a></li>
							{% endif %}
							<li><a class="sidebar__item" href="{% url "cal:logout" %}">
								<svg class="buttons noselect" style="margin-right: 7px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M21 12L13 12" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M18 15L20.913 12.087V12.087C20.961 12.039 20.961 11.961 20.913 11.913V11.913L18 9" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M16 5V4.5V4.5C16 3.67157 15.3284 3 14.5 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H14.5C15.3284 21 16 20.3284 16 19.5V19.5V19" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								Выйти
							</a></li>
							<a href="https://t.me/ka11endar" target="_blank" class="telegram">
								<svg width="40px" height="40px" viewBox="0 0 32 32" fill="#a2847b" xmlns="http://www.w3.org/2000/svg">
								<circle cx="16" cy="16" r="14" fill="url(#paint0_linear_87_7225)"/>
								<path d="M22.9866 10.2088C23.1112 9.40332 22.3454 8.76755 21.6292 9.082L7.36482 15.3448C6.85123 15.5703 6.8888 16.3483 7.42147 16.5179L10.3631 17.4547C10.9246 17.6335 11.5325 17.541 12.0228 17.2023L18.655 12.6203C18.855 12.4821 19.073 12.7665 18.9021 12.9426L14.1281 17.8646C13.665 18.3421 13.7569 19.1512 14.314 19.5005L19.659 22.8523C20.2585 23.2282 21.0297 22.8506 21.1418 22.1261L22.9866 10.2088Z" fill="#f2e7d9"/>
								<defs>
								<linearGradient id="paint0_linear_87_7225" x1="16" y1="2" x2="16" y2="30" gradientUnits="userSpaceOnUse">
								<stop stop-color="#a2847b"/>
								<stop offset="1" stop-color="#a2847b"/>
								</linearGradient>
								</defs>
								</svg>
							</a>
						</ul>
					</div>
					<a href="{% url 'cal:index' %}" class="header__inner__name noselect">kallendar</a>
				</div>
				<div class="header__inner__right">
					<div class="header__inner__btn__special buttons noselect">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40.8 43.5" style="enable-background:new 0 0 40.8 43.5;" xml:space="preserve">
							<style type="text/css">
								.st0{fill:#A2847B;}
								.st1{fill:none;stroke:#A2847B;stroke-width:3;stroke-miterlimit:10;}
							</style>
							<path class="st0" d="M20.4,29.2c-1.6,0-3.2,0.2-5.5,0c-0.7,0-2-0.2-2.8-1c-0.3-0.3-0.4-0.7-0.5-0.9c0-0.1-0.6-1.6,0.3-2.9
								c0,0,0.2-0.4,1.3-1.3c0,0-0.2-0.6-0.2-0.7c-0.2-0.7,0-1.5,0.1-1.6c0.4-1.3,1.6-1.9,1.9-2.1c0.2-0.1,1-0.5,1-0.5
								c-0.4-1.1-0.4-1.2-0.4-1.2c-0.1-0.7,0.4-1.7,1.1-2c0.6-0.3,1.5-0.2,1.5-0.2l7.3-0.1c0,0,0.4-0.4,0.6-0.3c0.4,0,0.8,1.2,0.5,2.2
								c-0.4,1-1.5,1.9-1.5,1.9s1.5,0.4,2.2,1.3c0.6,0.7,0.6,1.7,0.5,2.2c0,0.3-0.1,1.2-0.1,1.2s0.7,0.6,0.9,0.7c1.1,0.9,1.2,3.3-0.1,4.4
								c-0.2,0.2-0.4,0.3-0.5,0.3C26,29.5,23.4,29.1,20.4,29.2L20.4,29.2z"/>
							<circle class="st1" cx="20.4" cy="22.2" r="17.2"/>
						</svg>

					</div>
					<div class="header__inner__icon noselect">
						<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.79 43.56">
						<defs>
							<style>
							.cls-1 {
								fill: #a2847b;
							}

							.cls-2 {
								fill: #f2e7d9;
							}
							</style>
						</defs>
						<rect class="cls-2" y="5.91" width="40.79" height="37.53" rx="3.89" ry="3.89"/>
						<rect class="cls-2" x="6.48" width="9.45" height="13.09" rx="4.15" ry="4.15"/>
						<rect class="cls-2" x="25.34" width="9.45" height="13.09" rx="4.15" ry="4.15"/>
						<rect class="cls-1" x="4.82" y="16.6" width="32.26" height="21.45" rx="2.04" ry="2.04"/>
						<rect class="cls-1" x="28.59" y="3.32" width="3.57" height="6.89" rx="1.11" ry="1.11"/>
						<rect class="cls-1" x="9.57" y="3.32" width="3.57" height="6.89" rx="1.11" ry="1.11"/>
						<path class="cls-2" d="M18.3,40.23c.29-.21,.66-.19,.85-.18,1.43,.06,6.69-.01,14-.14,.61-.34,1.59-1.02,1.97-2.13,.48-1.45-.32-2.87-.63-3.41-.62-1.1-1.21-1.27-1.46-2.33-.2-.82,.1-.92-.06-1.79-.04-.2-.32-1.64-1.61-2.68-1.31-1.06-2.42-.71-2.92-1.63-.37-.68,.18-.97-.12-2-.03-.09-.46-1.48-1.85-2.16-1.3-.63-2.26-.08-2.92-.79-.29-.31-.15-.47-.54-1.42,0,0-.32-.79-.84-1.58-1.06-1.63-3.67-3.14-4.29-2.68-.41,.3,.43,1.16,.36,3.21-.03,.74-.09,1.88-.89,2.32-.36,.19-.55,.08-1.31,.16-.48,.05-2.14,.23-2.98,1.16-.46,.51-.53,1.09-.66,2.05-.15,1.16,.11,1.55-.3,2.05-.34,.41-.69,.35-1.49,.79-.15,.09-1.21,.67-1.73,1.47-.83,1.27,.31,2.13-.36,3.53-.5,1.06-1.26,.8-2.11,1.96-.99,1.35-1.29,3.48-.15,4.73,.6,.66,1.38,.85,2.65,1.16,1.94,.47,4.84,.51,5.64,.36,.03,0,.08-.02,.13,0,.45,.15-.43,1.82,.27,2.67,.58,.71,2.26,.86,2.88,.29,.78-.72-.38-2.37,.48-2.97Z"/>
						<g>
							<path class="cls-1" d="M21.09,27.33c0,.38-.02,.73-.07,1.03-.87,.73-1.56,1.34-2.08,1.82,.5,.2,.9,.48,1.18,.85,.28,.37,.43,.78,.43,1.25,0,.54-.15,1.02-.46,1.42-.3,.4-.7,.7-1.19,.91-.49,.21-1.02,.31-1.58,.31-.67,0-1.3-.16-1.87-.47-.58-.31-1-.77-1.28-1.37,.18-.3,.41-.61,.7-.94,.72,.38,1.36,.56,1.91,.56,.3,0,.54-.06,.71-.17,.17-.11,.25-.25,.25-.41s-.08-.31-.25-.44c-.16-.13-.39-.22-.69-.27-.07-.2-.16-.55-.28-1.06-.03-.18-.06-.31-.08-.4-.02-.05-.02-.08-.02-.1,.12-.23,.31-.48,.56-.74,.26-.26,.54-.52,.86-.76-.8,.03-1.68,.1-2.64,.2-.12-.18-.21-.45-.28-.83s-.1-.74-.1-1.1c0-.2,.01-.36,.04-.49,.78-.1,1.72-.16,2.82-.16,1.26,0,2.37,.07,3.31,.22,.07,.3,.11,.66,.11,1.1Z"/>
							<path class="cls-1" d="M25.62,26.13c.41,.07,.8,.17,1.16,.28,.36,.12,.61,.23,.73,.35-.47,2.41-.77,5.13-.89,8.16-.06,.02-.12,.02-.18,.02-.34,0-.83-.09-1.45-.27-.62-.18-1.02-.35-1.2-.52v-.46c0-1.46,.12-3.1,.36-4.92-.34,.34-.74,.66-1.2,.96-.24-.41-.54-1.05-.91-1.92,.5-.26,.94-.52,1.34-.8,.4-.28,.82-.61,1.26-.98,.24,0,.57,.02,.98,.1Z"/>
						</g>
						</svg>
					</div>
					{% comment %} <div class="settings">+</div>
					<button onclick="location.href='{% url 'cal:logout' %}?next=/accounts/login/?next=/'"> Logout </button> {% endcomment %}
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	<div class="footer"></div>
	<a href="https://t.me/ka11endar" target="_blank" class="telegram_right">
		<svg width="40px" height="40px" viewBox="0 0 32 32" fill="#a2847b" xmlns="http://www.w3.org/2000/svg">
		<circle cx="16" cy="16" r="14" fill="url(#paint0_linear_87_7225)"/>
		<path d="M22.9866 10.2088C23.1112 9.40332 22.3454 8.76755 21.6292 9.082L7.36482 15.3448C6.85123 15.5703 6.8888 16.3483 7.42147 16.5179L10.3631 17.4547C10.9246 17.6335 11.5325 17.541 12.0228 17.2023L18.655 12.6203C18.855 12.4821 19.073 12.7665 18.9021 12.9426L14.1281 17.8646C13.665 18.3421 13.7569 19.1512 14.314 19.5005L19.659 22.8523C20.2585 23.2282 21.0297 22.8506 21.1418 22.1261L22.9866 10.2088Z" fill="#f2e7d9"/>
		<defs>
		<linearGradient id="paint0_linear_87_7225" x1="16" y1="2" x2="16" y2="30" gradientUnits="userSpaceOnUse">
		<stop stop-color="#a2847b"/>
		<stop offset="1" stop-color="#a2847b"/>
		</linearGradient>
		</defs>
		</svg>
	</a>
</body>
</html>

<!-- <div class="container">
		<div class="calendar">
			<div class="calendar__date">2023 Февраль</div>
			<div class="calendar__weekday"></div>
			<div class="calendar__content">
			</div>
		</div>
	</div> -->
	<!-- <html ng-app="calendarApp" ng-cloak="true"></html>
	<% @days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %>
	<div class="calendar" ng-controller="calendarController as calendar">
	<div class="calendar_left">
		<div class="header">
		<i class="material-icons" ng-click="calendar.prev()">navigate_before</i>
		<h1>{{calendar.month}}</h1>
		<i class="material-icons" ng-click="calendar.next()">navigate_next</i>
		</div>
		<div class="days">
		<% @days.each do |days, index| %>
			<div class="day_item">#{days}</div>
		<% end %>
		</div>
		<div class="dates"></div>
	</div>
	</div> -->
