 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form action="{% url 'cal:register' %}" method="post">
		{% csrf_token %}
		<h2 class="form__title">Регистрация</h2>
		<input name="username" type="text" placeholder="Имя" class="input" />
		<input name="email" type="email" placeholder="Email" class="input" />
		<input name="password1" type="password" placeholder="Пароль" class="input" />
		<input name="password2" type="password" placeholder="Подтвердите пароль" class="input" />
		<button class="btn" type='submit' name='submit' value='sign_up'>Зарегистрироваться</button>
	</form>
</body>